

* {
    margin: 0;
    padding: 0;
    color: azure;
}


.container {
    height: 720px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 5% 85%;
}


.midbar {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: rgba(33, 33, 45, 255);


}

.sidebar {
    grid-row: 1/4;
    grid-column: 1/2;
    background-color: #2C2C38;
    background-color: rgba(44, 44, 56, 255);


    /* Adjust the value to increase or decrease the gap between items */



}

.sidebar {


    display: flex;
    flex-direction: column;
    align-items: top;
    gap: 5%;
}

.sidebar h1 {
    margin-left: 20%;
}
