

* {
    margin: 0;
    padding: 0;
    color: azure;
}


.container {
    height: 720px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 5% 85%;
}


.midbar {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: rgba(33, 33, 45, 255);


}

.sidebar {
    grid-row: 1/4;
    grid-column: 1/2;
    background-color: #2C2C38;
    background-color: rgba(44, 44, 56, 255);


    /* Adjust the value to increase or decrease the gap between items */



}

.sidebar {


    display: flex;
    flex-direction: column;
    align-items: top;
    gap: 5%;
}

.sidebar h1 {
    margin-left: 20%;
}

.item {


    margin-left: 15%;
}

.sidebar #span {
    margin-bottom: -4px;
}

.sidebar .svg {
    margin-left: 20%;

    /* Adjust the value to add space between the image and text */
}

.topbar {
    grid-row: 1/2;
    grid-column: 2/4;
    background-color: rgba(44, 44, 56, 255);
    display: flex;
    justify-content: space-between;


}

.task-button {
    border-radius: 30px;
    width: 20%;
    height: 60%;
    background-color: #645FC7;


}




.sidebar2 {
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: rgba(44, 44, 56, 255);

}

.midbar {
    display: flex;
    gap: 30px;


    align-items: top;
    gap: 40px;

}

.first-Col {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 12c ;
}
